<nav class="navbar">
  <div>
    <h3>Log in</h3>
    <h3>Sign up</h3>
  </div>
  <div>
    <div>
      <i class="fa-solid fa-user"></i>
      <h2>Guest</h2>
      <i class="fa-solid fa-coins"></i>
      <h2>PetCoins</h2>
      <i class="fa-solid fa-plus"></i>
    </div>
    <div>
      <h2>Pets</h2>
      <h2>My Donations</h2>
      <h2>My sponsorships</h2>
    </div>
  </div>
</nav>